body {
    margin: 0;
    padding: 0;
    background-color: #282C70;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.logo {
    display: flex;
    align-items: right;
}

.logo img {
    width: 60px;
    height: auto;
}

.logo h1 {
    margin-left: 10px;
    font-size: 1.5em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
    font-size: 16px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    color: #FFD700;
    text-decoration: underline;
}

.hero {
    background-image: linear-gradient(to bottom, #282C705, #4DA173);
    color: white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero img {
    width: 30%;  Definindo a largura da imagem 
    height: auto;
}

.hero-text {
    width: 60%;  Definindo a largura do texto 
}

 Para dispositivos menores, ajuste o layout 
@media (max-width: 768px) {
    .hero {
        flex-direction: column;  Colocar a imagem e o texto um em cima do outro 
        text-align: center;
    }
    .hero img {
        width: 100%;  Tornar a imagem ocupar toda a largura 
        margin-bottom: 20px;  Adicionar um espaço entre a imagem e o texto 
    }
    .hero-text {
        width: 100%;  Tornar o texto ocupar toda a largura 
    }
}


.about {
    background-image: linear-gradient(#424E61, #16CE9E);
    color: white;
    text-align: center;
    padding: 24px 0;
}

.about h3 {
    padding: 24px 0;
}

.estudante {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
}

.estudante img {
    width: 100%;  Definindo a largura da imagem como 100% para ocupar o espaço disponível 
    height: auto;  Para manter a proporção da imagem 
    max-width: 120px;  Limitando a largura máxima da imagem para 120 pixels 
}

.estudante .estudante-icone {
    width: 24px;
    padding: 4px 8px;
    text-align: center;
}

.estudante-div img[src="S.jpg"],
.estudante-div img[src="Ser.jpg"] {
    width: 150px; 
    height: auto; 
}

.estudante-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    padding: 50px 0;
}

.estudante-div:nth-child(1),
.estudante-div:nth-child(2),
.estudante-div:nth-child(3) {
    grid-row: 1;  Colocar as três primeiras imagens na primeira linha 
}

.estudante-div:nth-child(4),
.estudante-div:nth-child(5),
.estudante-div:nth-child(6) {
    grid-row: 2;  Colocar as três últimas imagens na segunda linha 
}

.about {
    background-image: linear-gradient(#4DA173, #282C70);
    color: white;
    text-align: center;
    padding: 24px 0;
}

.about h3 {
    padding: 24px 0;
}

.estudante-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  Centralizar horizontalmente 
    align-items: center; Centralizar verticalmente 
    gap: 20px;
    padding: 50px 0;
}

.estudante-div .estudante-imagem {
    width: 120px;
}

.estudante-div .estudante-icone {
    width: 24px;
    padding: 4px 8px;
    text-align: center;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer img {
    height: 30px;
    padding: 

